In [1]:
#Qn: find out how differet variables predict the vote_average rating given by audience
# Basic Libraries
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('TMDB_movie_dataset_v11.csv')
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019213 entries, 0 to 1019212
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1019213 non-null  int64
 1   title                 1019201 non-null  object
 2   vote_average          1019213 non-null  float64
 3   vote_count            1019213 non-null  int64
 4   status                1019213 non-null  object
 5   release_date          895029 non-null   object
 6   revenue               1019213 non-null  int64
 7   runtime               1019213 non-null  int64
 8   adult                 1019213 non-null  bool
 9   backdrop_path         285664 non-null   object
 10  budget                1019213 non-null  int64
 11  homepage              110177 non-null   object
 12  imdb_id               576051 non-null   object
 13  original_language     1019213 non-null  object
 14  original_title        1019201 non-null  object
 15  overview              832225 non-null   object
 16  popularity            1019213 non-null  float64
 17  poster_path           731629 non-null   object
 18  tagline               145808 non-null   object
 19  genres                639038 non-null   object
 20  production_companies  481464 non-null   object
 21  production_countries  599826 non-null   object
 22  spoken_languages      610806 non-null   object
 23  keywords              292877 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 179.8+ MB

In [3]:

def remove_columns(df, columns_to_remove):
    
    remaining_columns = [col for col in df.columns if col not in columns_to_remove]
    return df[remaining_columns]


columns_to_remove=['homepage','backdrop_path','production_companies', 'tagline','imdb_id','original_title','spoken_languages','production_countries']
new_df=remove_columns(df,columns_to_remove)

new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1019213 entries, 0 to 1019212
Data columns (total 16 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   id                 1019213 non-null  int64
 1   title              1019201 non-null  object
 2   vote_average       1019213 non-null  float64
 3   vote_count         1019213 non-null  int64
 4   status             1019213 non-null  object
 5   release_date       895029 non-null   object
 6   revenue            1019213 non-null  int64
 7   runtime            1019213 non-null  int64
 8   adult              1019213 non-null  bool
 9   budget             1019213 non-null  int64
 10  original_language  1019213 non-null  object
 11  overview           832225 non-null   object
 12  popularity         1019213 non-null  float64
 13  poster_path        731629 non-null   object
 14  genres             639038 non-null   object
 15  keywords           292877 non-null   object
dtypes: bool(1), float64(2), int64(5), object(8)
memory usage: 117.6+ MB

In [4]:
new_df = new_df[~new_df['status'].isin(['released'])]
columns_to_remove=['status']
new_df=remove_columns(new_df,columns_to_remove)
new_df=new_df.dropna()
new_df

,id,title,vote_average,vote_count,release_date,revenue,runtime,adult,budget,original_language,overview,popularity,poster_path,genres,keywords
0,27205,Inception,8.364,34495,2010-07-15,825532764,148,False,160000000,en,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,"Action, Science Fiction, Adventure","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,2014-11-05,701729206,169,False,165000000,en,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,"Adventure, Drama, Science Fiction","rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,False,185000000,en,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,"Drama, Action, Crime, Thriller","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,2009-12-15,2923706026,162,False,237000000,en,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,"Action, Adventure, Fantasy, Science Fiction","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,2012-04-25,1518815515,143,False,220000000,en,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"Science Fiction, Action, Adventure","new york city, superhero, shield, based on com..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019177,673489,"""Lately, I've Got This Huge Bulge In My Crotch...",0.000,0,2018-09-01,0,178,True,0,ja,"""Recently I've been busy with work... I can't ...",0.600,/eWYsZthU0Mv737uFoZViuwDoJaf.jpg,Documentary,"massage parlor, aphrodisiac"
1019186,673504,Kelly,0.000,0,2015-09-17,0,6,False,2500,en,A young girl comes to terms with her life in f...,0.600,/2OnQSDAB3XioKSlwOLzlZh85Xg6.jpg,"Drama, Family","family drama, orphan, short film"
1019189,673508,Gang-Banging The Female Announcer In The Offic...,0.000,0,2018-12-06,0,120,True,0,ja,Moe Amatsuka is a popular announcer who is act...,0.601,/pW4QW5R3qWj3tOLesdMH4KJdLTP.jpg,Drama,"tv news anchor, female anchor"
1019200,673450,Pappa Lap 'n Verhaal van n pa en sy dogter,0.000,0,1971-06-28,0,90,False,0,af,The picture explores the relationship between ...,0.600,/oz0l9ZkVBMdFb9gTaE1TGk6T2of.jpg,Drama,"afrikaans, pappalap, lap, pappa, katinka heyns"
1019201,673453,Doctor Who: The Pertwee Years,0.000,0,1992-01-01,0,88,False,0,en,"Following on from the other documentaries ""The...",0.600,/lrSEDtfHMzFsRCXEuOjw8oiwLVh.jpg,Documentary,doctor who

In [5]:
new_df['release_year'] = new_df['release_date'].str.extract(r'(\d{4})-\d{2}-\d{2}', expand=False)
new_df['release_year'] = new_df['release_year'].astype(int)
#calc length of chars for the title
new_df['num_chars'] = new_df['title'].str.len()

new_df

,id,title,vote_average,vote_count,release_date,revenue,runtime,adult,budget,original_language,overview,popularity,poster_path,genres,keywords,release_year,num_chars
0,27205,Inception,8.364,34495,2010-07-15,825532764,148,False,160000000,en,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,"Action, Science Fiction, Adventure","rescue, mission, dream, airplane, paris, franc...",2010,9
1,157336,Interstellar,8.417,32571,2014-11-05,701729206,169,False,165000000,en,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,"Adventure, Drama, Science Fiction","rescue, future, spacecraft, race against time,...",2014,12
2,155,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,False,185000000,en,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,"Drama, Action, Crime, Thriller","joker, sadism, chaos, secret identity, crime f...",2008,15
3,19995,Avatar,7.573,29815,2009-12-15,2923706026,162,False,237000000,en,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,"Action, Adventure, Fantasy, Science Fiction","future, society, culture clash, space travel, ...",2009,6
4,24428,The Avengers,7.710,29166,2012-04-25,1518815515,143,False,220000000,en,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"Science Fiction, Action, Adventure","new york city, superhero, shield, based on com...",2012,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019177,673489,"""Lately, I've Got This Huge Bulge In My Crotch...",0.000,0,2018-09-01,0,178,True,0,ja,"""Recently I've been busy with work... I can't ...",0.600,/eWYsZthU0Mv737uFoZViuwDoJaf.jpg,Documentary,"massage parlor, aphrodisiac",2018,249
1019186,673504,Kelly,0.000,0,2015-09-17,0,6,False,2500,en,A young girl comes to terms with her life in f...,0.600,/2OnQSDAB3XioKSlwOLzlZh85Xg6.jpg,"Drama, Family","family drama, orphan, short film",2015,5
1019189,673508,Gang-Banging The Female Announcer In The Offic...,0.000,0,2018-12-06,0,120,True,0,ja,Moe Amatsuka is a popular announcer who is act...,0.601,/pW4QW5R3qWj3tOLesdMH4KJdLTP.jpg,Drama,"tv news anchor, female anchor",2018,120
1019200,673450,Pappa Lap 'n Verhaal van n pa en sy dogter,0.000,0,1971-06-28,0,90,False,0,af,The picture explores the relationship between ...,0.600,/oz0l9ZkVBMdFb9gTaE1TGk6T2of.jpg,Drama,"afrikaans, pappalap, lap, pappa, katinka heyns",1971,42
1019201,673453,Doctor Who: The Pertwee Years,0.000,0,1992-01-01,0,88,False,0,en,"Following on from the other documentaries ""The...",0.600,/lrSEDtfHMzFsRCXEuOjw8oiwLVh.jpg,Documentary,doctor who,1992,29

In [10]:
new_df = new_df.drop(new_df[new_df['budget'] == 0].index)
new_df = new_df.drop(new_df[new_df['revenue'] == 0].index)
new_df = new_df.drop(new_df[new_df['vote_count'] == 0].index)

new_df

,id,title,vote_average,vote_count,release_date,revenue,runtime,adult,budget,original_language,overview,popularity,poster_path,genres,keywords,release_year,num_chars
0,27205,Inception,8.364,34495,2010-07-15,825532764,148,False,160000000,en,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,"Action, Science Fiction, Adventure","rescue, mission, dream, airplane, paris, franc...",2010,9
1,157336,Interstellar,8.417,32571,2014-11-05,701729206,169,False,165000000,en,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,"Adventure, Drama, Science Fiction","rescue, future, spacecraft, race against time,...",2014,12
2,155,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,False,185000000,en,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,"Drama, Action, Crime, Thriller","joker, sadism, chaos, secret identity, crime f...",2008,15
3,19995,Avatar,7.573,29815,2009-12-15,2923706026,162,False,237000000,en,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,"Action, Adventure, Fantasy, Science Fiction","future, society, culture clash, space travel, ...",2009,6
4,24428,The Avengers,7.710,29166,2012-04-25,1518815515,143,False,220000000,en,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"Science Fiction, Action, Adventure","new york city, superhero, shield, based on com...",2012,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344053,197844,Old Fish,7.000,1,2008-06-12,100,112,False,100,zh,A resourceful veteran cop surrounded by inexpe...,0.600,/dZAuYH49IGjd8R6fwz6DSB0tl6n.jpg,"Drama, Crime",bomb,2008,8
345197,892749,Science Please! : The Wonderful World of Colour,10.000,1,1999-05-08,100270,1,False,100270,en,"A clip in the Science Please. collection, The ...",0.600,/fYpQQn95Z1DIVzIRh826lSeHXmq.jpg,Animation,color,1999,47
345429,824851,Saint Joseph,10.000,1,2021-04-30,20,16,False,500,en,A young man is convinced to go to a church in ...,0.600,/qWMUaFH5yiQSEpKhRy8z11lUtST.jpg,Drama,emotional vulnerability,2021,12
345595,892739,Nanna & Lil' Puss Puss in 'Who Calcutta the Ch...,10.000,1,1993-07-13,15107,3,False,15107,en,"Nanna gets a visit from her Indian neighbor, S...",0.600,/iRJzJNGh8P1tzqkuin9qWsDL2iu.jpg,"Animation, Comedy",short film,1993,51
347098,1230761,Highway to Hell,10.000,1,2024-01-13,1,5,False,5,en,3 Mexican cartel members are released from pri...,1.400,/zYCodcHhjYbj3HgMLMcznteMB1f.jpg,"Crime, Action","hitman, plot twist",2024,15

In [7]:
new_df.to_csv('newest_dataf.csv')